.text-auth-register {
    text-align: center;
    margin-top: 0.5rem;
    color: #555;
}

.box-form-register {
    margin-top: 1.5rem;

    div {
        margin-bottom: 0.5rem;
    }

    .box-auth-login {
        margin-top: 1.5rem;
    }
}