.box-category {
    margin: 1.5rem 0;

    .box-header-category {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.5rem;

        h5 {
            color: #555;
            margin-right: 1rem;
        }
    }

    .box-actions {
        text-align: center;
        width: 6.25rem;
    }
}