.box-card {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%;
  margin: auto;
  gap: 1rem;
  padding: 2rem;
  box-shadow: hsla(220, 30%, 5%, 0.5) 0px 5px 15px 0px, hsla(220, 25%, 10%, 0.08) 0px 15px 35px -5px;
  font-family: Inter, sans-serif;

  .text-auth {
    width: 100%;
    font-size: clamp(2rem, 10vw, 2.15rem);
    color: #555;
    font-weight: 600;
    line-height: 1.5;
  }

  .box-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;

    label {
      font-style: 400;
      font-size: .875rem;
      line-height: 1.4375rem;
      margin-bottom: .5rem;
    }

    .link-forgot {
      align-self: center;
      font-weight: 500;
      color: hsl(220, 30%, 6%);
      font-size: .875rem;
      line-height: 1.43;
    }

  }

  .divider {
    color: hsl(220, 20%, 35%);
  }

  .box-auth-forgot {
    p {
      text-align: center;
      font-weight: 400;
      font-size: .875rem;
      line-height: 1.5;

      a {
        font-weight: 500;
        color: hsl(220, 30%, 6%);
        line-height: 1.43;
      }
    }
  }
}